* {
  box-sizing: border-box;
}

:root {
  --main-color: #f44336;
}

body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding: 20px;
  margin: 0 0 50px;
  background-color: white;
}

.guess-game {
  text-align: center;
  width: 1000px;
  margin: 20px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .game-area {
    .inputs {
      > div {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 30px;
          margin-right: 15px;
          font-weight: bold;
        }
      }
      .disabled-input {
        opacity: 0.5;
        pointer-events: none;
      }
      input {
        margin: 0 5px;
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 50px;
        caret-color: var(--main-color);
        background: white;
        border: none;
        border-bottom: 2px solid black;
        &:focus {
          outline-color: #ccc;
        }
        &.yes-in-place {
          background-color: #f89e13;
          border: #f89e13;
          color: white;
        }
        &.not-in-place {
          background-color: #18ba89;
          border: #f89e13;
          color: white;
        }
        &.no {
          background-color: #27303f;
          border: #f89e13;
          color: white;
        }
      }
    }
    .control {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 500px;
      margin: 30px auto;
      gap: 10px;
      .check {
        background-color: var(--main-color);
        flex: 1;
      }
      .hint {
        background-color: #009688;
        width: fit-content;
      }
      button {
        border: none;
        font-size: 25px;
        padding: 15px 20px;
        border-radius: 6px;
        color: white;
        cursor: pointer;
        font-weight: bold;
      }

      button:disabled {
        background-color: black;
        opacity: 0.4;
        cursor: no-drop;
      }
    }
  }
  .key-colors {
    .key-color {
      display: flex;
      align-items: center;
      padding: 15px;
      background-color: white;
      margin-bottom: 15px;
      .key {
        width: 50px;
        height: 50px;
        border-radius: 6px;
        margin-right: 10%;
        &.in-place {
          background-color: #f89e13;
        }
        &.not-in-place {
          background-color: #18ba89;
        }
        &.no {
          background-color: #27303f;
        }
      }
      .key-text {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

.message {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  span {
    font-weight: bold;
    display: block;
    font-size: 50px;
    color: var(--main-color);
    text-transform: capitalize;
    margin-top: 10px;
  }
  p {
    margin-top: 15px;
  }
}

footer {
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
}
